In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn import datasets
import random

In [ ]:
def data_generator(n, true_ate = False):
  "Function to generate data consiting of n observations"
  d = pd.DataFrame()
  # Cofounders
  d['w1'] = np.round(np.random.uniform(low=1,high = 5, size = n))
  d['w2'] = np.random.binomial(n=1,p=0.45,size=n)
  d['w3'] = np.round(np.random.uniform(low=0,high=1,size=n)+0.8*d['w1']+0.75*d['w2'])
  d['w3'] = np.where(d['w3'])

In [69]:
from random import randrange

In [155]:
# Set sample size N
N = 5000 

x = [1,0]

random.seed(560)

# Generate random variables 

treat_rand = np.random.choice(x, size = N,replace =True,p=[0.55,0.45])
comply_rand = np.random.choice(x, size = N,replace =True,p=[0.2,0.8])
age_rand = random.choices(list(range(18,61)),k = N)
post_rand = [0]*N
female_rand = np.random.binomial(1,0.51,N)
educ_rand = random.choices(list(range(3,8)),k = N)
a_rand =np.random.binomial (1,0.51,N)

# Create dictionaries for each of the generated variables

treat = {'treat':treat_rand}
comply = {'comply':comply_rand}
age = {'age':age_rand}
female = {'female':female_rand}
educ = {'educ':educ_rand}
a_dummy = {'a_dummy':a_rand}
post = {'post':post_rand}

# combine dictionaires and create dataframe
ds = {**treat,**comply,**educ,**age,**female,**a_dummy,**post}
df = pd.DataFrame(ds)

# Add id variable to the dataset 
df['id'] = range(1, len(df) + 1)

df2 = df
df2['post'] = 1

#append the two dataframes together
df3 = df.append(df2)

In [158]:
df.describe()

,treat,comply,educ,age,female,a_dummy,post,id
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.0,5000.000000
mean,0.542400,0.194800,5.026800,39.083600,0.512200,0.509800,1.0,2500.500000
std,0.498249,0.396086,1.420171,12.365888,0.499901,0.499954,0.0,1443.520003
min,0.000000,0.000000,3.000000,18.000000,0.000000,0.000000,1.0,1.000000
25%,0.000000,0.000000,4.000000,29.000000,0.000000,0.000000,1.0,1250.750000
50%,1.000000,0.000000,5.000000,39.000000,1.000000,1.000000,1.0,2500.500000
75%,1.000000,0.000000,6.000000,50.000000,1.000000,1.000000,1.0,3750.250000
max,1.000000,1.000000,7.000000,60.000000,1.000000,1.000000,1.0,5000.000000

In [161]:
from sklearn.linear_model import LinearRegression

In [162]:
model = LinearRegression()

In [170]:
x = df[['age']]
y  = df[['educ']]

In [175]:
results = model.fit(x,y)

In [179]:
results.intercept_

array([4.83170501])

In [186]:
import pickle 

dataset_number = 8
seed = 0

name = 'dataset' + str(dataset_number)
with open('/Users/mawuliagamah/gitprojects/causal_inference/dataset1.pkl', 'rb') as f:
    save_dict = pickle.load(f)

In [187]:
y_obser = save_dict['y_obser']
x_obser = save_dict['x_obser']
y_inter = save_dict['y_inter']
x_inter = save_dict['x_inter']

In [189]:
print(y_obser)

[[-0.00430083]
 [ 0.45607497]
 [ 0.16422963]
 ...
 [ 0.3354805 ]
 [-0.30142274]
 [ 1.22610283]]

In [194]:
pd.DataFrame(y_obser)
pd.DataFrame(x_obser)

             0
0     0.986083
1     1.007195
2    -0.529454
3    -0.074573
4     0.901247
...        ...
2995 -0.038305
2996 -0.639522
2997  0.598170
2998 -0.456544
2999  0.782223

[3000 rows x 1 columns]